
.form-recipe-element {
  display: flex;
  width: 90vw;
}

label.form-recipe-element {
  flex: 0 0 10vw;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 3vw;
}

input.form-recipe-element {
  flex: 0 1 auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: 3vw;
}

.form-recipe-button {
  align-items: center;
}

.recipe-checkbox {
  width: 20px;
  height: 20px;
}

.form-button {
  background-color: rgb(2, 48, 71);;
  color: rgb(251, 133, 0);
  border: none;
  border-radius: 9px;
  padding: 7px 21px;
}

.section-form-button {
    padding: 0px 21px;
    text-align: center;
}
