/* --- Components design --- */
@import url("components/flexbox.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/list.css");
@import url("components/banner.css");
@import url("components/menu.css");
@import url("components/card.css");
@import url("components/form.css");

/* --- Fonts --- */
body {
  font-family: "Roboto", "Helvetica", "sans-serif";
  font-weight: 300;
  font-size: 20px;
  background-color: #F4F3EE;
}

h1, h2, h3 {
  font-family: "Share Tech Mono", "sans-serif";
  font-size: 30px;
  line-height: 40px;
  margin: 5px;
  letter-spacing: 3px
}
/*
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin: 0;
} */

/* a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
} */



/* div.blog {
  margin: 0 10vw;
}

.blog h1 {
  text-align: center;
  font-size: 4vw;
  line-height: 6vw;
  border-bottom: 1px solid black;
}

.blog h2 {
  color: rgb(251, 133, 0);
  font-size: 2vw;
} */

/* Rating for Form */
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2661";
  position: absolute;
  left: 0;
  color: #FFD700;
}
