<h1>About this app...</h1>
<p>I've been in banking for over 10 years, and recently decided
to take a web development course with <a href = "lewagon.com">le wagon</a>
to explore my interest in coding, learn some new skills, and maybe find my
next passion!
</p>
<br>
<p>This app is a first attempt at MVC model web development, in preparation for
learning Ruby on Rails. The idea is simple: collect recipes, import recipes from the web,
and track which ones I have tried!</p>
