<form class = "form-create-recipe" method = 'POST' action="/action/newrecipe">
  <section class = "form-create-recipe-element">
    <label for="name">Title:</label>
    <input type="text" id="name" name="name" value=""><br><br>
  </section>
  <section class = "form-create-recipe-element">
    <label for="prep_time">Prep time:</label>
    <input type="text" id="prep_time" name="prep_time" value=""><br><br>
  </section>
  <section class = "form-create-recipe-element">
    <label for="rating">Star Rating?:</label>
    <input type="text" id="rating" name="rating" value=""><br><br>
  </section>
  <section class = "form-create-recipe-element">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" value=""><br><br>
  </section>
  <section class = "form-create-recipe-button">
    <input type="submit" value="Submit">
  </section>
</form>
