<form class = "form-create-recipe" method = 'POST' action="/action/newrecipe">
  <section class = "form-create-recipe-element">
    <label for="name">Title:</label>
    <input type="text" id="name" name="name" value=""><br><br>
  </section>
  <section class = "form-create-recipe-element">
    <label for="prep_time">Prep time:</label>
    <input type="text" id="prep_time" name="prep_time" value=""><br><br>
  </section>
  <section class = "form-create-recipe-element">
    <label for="rating">Star Rating?:</label>
      <div class="rating">
        <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
        <label for="star5">☆</label>
        <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
        <label for="star4">☆</label>
        <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
        <label for="star3">☆</label>
        <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
        <label for="star2">☆</label>
        <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
        <label for="star1">☆</label>
        <div class="clear"></div>
      </div><br><br>
  </section>
  <section class = "form-create-recipe-element">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" value=""><br><br>
  </section>
  <section class = "form-create-recipe-button">
    <input type="submit" value="Submit">
  </section>
</form>
