<form action="/new_recipe">
  <label for="name">Title:</label><br>
  <input type="text" id="title" name="title" value="what's cooking?"><br>
  <label for="prep_time">Prep time:</label><br>
  <input type="text" id="prep_time" name="prep_time" value="how much time in the kitchen?"><br>
  <label for="prep_time">Star Rating?:</label><br>
  <input type="text" id="rating" name="rating" value=""><br>
  <label for="prep_time">Description</label><br>
  <input type="text" id="description" name="description" value=""><br><br>
  <input type="submit" value="Submit">
</form>
