<form class = "form-delete-recipe" method = 'POST' action="/action/deleterecipe">
  <section class = "form-create-recipe-element">
    <label for="id">Recipe ID to DELETE:</label>
    <input type="number" id="id" name="id" min="1">
    <input class = "form-delete-recipe-button" type="submit" value="Submit">
  </section>
</form>
<%= erb :list %>
