
<form class = "form-import-recipe" method = 'POST' action="/action/createwebrecipe">
  <section class = "form-import-recipe-element">
    <label for="id">Input ID (1-5) of recipe to import:</label>
    <input type="number" id="id" name="id" min=1 max=5><br><br>
  </section>
</form>
