<form class = "form-import-recipe" method = 'POST' action="/action/importrecipe">
  <section class = "form-import-recipe-element">
    <label for="name">Keyword:</label>
    <input type="text" id="keyword" name="keyword" value=""><br><br>
    <button type="submit">Search</button>
  </section>
</form>
